<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">STRIVE, LEARN FOREVER</span>
                    <span class="skills">Andrew YoungHwi Cho</span><br />
                    <span class="skills">Web &amp; Mobile Product Professional</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal1" class="portfolio-box portfolio-link" data-toggle="modal">
                    <%= image_tag 'bark.png', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Location-based Social Network
                            </div>
                            <div class="project-name">
                                Bark App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal2" class="portfolio-box portfolio-link" data-toggle="modal">
                    <%= image_tag 'lobby.png', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Location-based Social Network
                            </div>
                            <div class="project-name">
                                Lobby for Kakao
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal3" class="portfolio-box portfolio-link" data-toggle="modal">
                    <%= image_tag '601.png', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sharehouse Branding Project
                            </div>
                            <div class="project-name">
                                601 Community
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal4" class="portfolio-box portfolio-link" data-toggle="modal">
                    <%= image_tag 'lk.png', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                P2P Travel Marketplace
                            </div>
                            <div class="project-name">
                                Local Knowledgist Travel Agency
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal5" class="portfolio-box portfolio-link" data-toggle="modal">
                    <%= image_tag 'platz.png', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Specialty Coffee Branding Project
                            </div>
                            <div class="project-name">
                                Platz Coffee
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal6" class="portfolio-box portfolio-link" data-toggle="modal">
                    <%= image_tag 'playshot.png', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DSLR Photography Community Project
                            </div>
                            <div class="project-name">
                                Playshot Campaign
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


    <!-- SkillSet Section -->
    <section id="skill">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center skillset-header">
                    <h2 class="section-heading">SKILL SETS</h2>
                    <h3 class="section-subheading text-muted">All about Online Product Development/Management</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <%= image_tag 'mobile.png', class: 'img-circle img-responsive' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Technological knowledge in online product</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Full capability in web/mobile product development process, and skills to program basic-functioning web/mobile applications.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag 'ux.png', class: 'img-circle img-responsive' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Knowledge about UX/UI design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In-depth studying about user experience design process, vector-components, grid system, and web/mobile application user interface structures.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag 'prototyping.png', class: 'img-circle img-responsive' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Prototyping Capability</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Full skills to create prototype product by using Sketch 3, Photoshop, Ruby on Rails, AWS/Heroku server deployment, and iOS App development by using Xcode/Swift. Photography skill is to make high-res product photos.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag 'data.png', class: 'img-circle img-responsive' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Data Collection/Analysis</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Over 4-years strategy planning experiences with setting-up key index, designing data collection process, analyzing collected data, and delivering meaningful insight.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag 'brand.png', class: 'img-circle img-responsive' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Branding/Marketing Capability</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In-depth knowledge about brand management, how to manage marketing mix and customer contact points as well as social media marketing practices.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>And Guts
                                    <br>to Learn
                                    <br>More!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Career Section -->
    <section id="career" class="bg-light-gray career-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center career-heading">
                    <h2 class="section-heading">Professional Careers</h2>
                    <h3 class="section-subheading text-muted">Passion for start-up and product management</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag 'startup.png', class: 'img-responsive img-circle' %>
                        <h4>Entrepreneur</h4>
                        <p class="text-muted">Founder at BourbonShake</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag 'canon.png', class: 'img-responsive img-circle' %>
                        <h4>Corporate Strategy Planner</h4>
                        <p class="text-muted">Canon Korea Consumer Imaging</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag 'amway.png', class: 'img-responsive img-circle' %>
                        <h4>Retail Strategy Planner</h4>
                        <p class="text-muted">Amway Korea Ltd</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">A wide range of experiences in electronic and consumable goods industry. Experience of managing dozens of billion-dollor-bugeted-projects, and one-year of entrepreneurship challenges.</p>
                </div>
            </div>
        </div>
    </section>


  <div class="row">
      <div class="col-lg-12 text-center photography-header">
          <h2 class="section-heading">PHOTOGRAPHY SKILLS</h2>
          <h3 class="section-subheading text-muted">Shooting/Editing high-res photography skills for prototype products</h3>
      </div>
  </div>

  <section class="no-padding" id="photography">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/124508931/night-skyscrapers-in-witan-shanghai-china-by-young-hwi-cho?utm_medium=facebook&utm_campaign=nativeshare&utm_content=web&utm_source=500px" class="portfolio-box" target="_blank">
                    <%= image_tag '1.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/124839251/backstreet-behind-of-luxury-shanghai-china-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '2.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/132997653/winter-scenery-in-south-korea-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '3.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/133010087/tree-with-sunrise-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '4.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/142886553/gyeongbokgung-palace-in-south-korea-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '5.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/142886551/gyeongbokgung-palace-in-south-korea-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '6.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/143893193/hwanghakdong-market-in-seoul-korea-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '7.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/144701005/changgyeongung-palace-in-korea-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '8.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/111721045/urban-exploration-gili-trawangan-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '9.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/111721043/urban-exploration-gili-trawangan-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '10.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/111661905/hanok-korean-traditional-house-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '11.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/111649417/old-town-in-seoul-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '12.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/116054889/crazy-neon-lights-in-seoul-city-korea-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '13.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/122651395/red-lighthouse-with-night-ocean-view-in-korea-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '14.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://500px.com/photo/144701921/night-cityspace-in-seoul-korea-by-young-hwi-cho" class="portfolio-box" target="_blank">
                    <%= image_tag '15.jpg', class: 'img-responsive' %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

 <section id="aboutme" class="bg-light-gray profile-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="team-member">
                    <%= image_tag 'profile-center.png', class: 'img-responsive img-circle' %>
                    <h4>Andrew YoungHwi Cho</h4>
                    <p class="text-muted">Founder at BourbonShake</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/cyh7070"  target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://kr.linkedin.com/in/andrew-young-hwi-cho-a6442516"  target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://500px.com/younghwicho"  target="_blank"><i class="fa fa-500px"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Andrew C is a photographer and music enthusiast who enjoys playing musical instruments such as piano, guitar, violin, drums and ukulele. He’s an animal lover who enjoys traveling and exploring the World.</p>
            </div>
        </div>
    </div>
  </section>



  <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <%= image_tag 'modal1_logo.png', class: 'img-centered' %>
                            <h2>Don’t Speak, Let’s Bark</h2>
                            <p class="item-intro text-muted">Bark app, a location based social network<br>Feb 2016 - present</p>
                            <%= image_tag 'modal1-1.png', class: 'img-centered' %>

                            <p>The Internet allowed humans to communicate with each other no matter how far away they are. However, it also made people talk less with their friends and family, and with their neighborhood. Sometimes we try, but often we don't have many thing to say.
                            <br>
                            <br>
                            So what if you can just bark? When a dog starts barking, other dogs follow. We thought this could be the most effective way of communication. You don't need to speak the same language. You don't even really need to have anything to say. Because now you can just bark with this app.
                            <br>
                            <br>
                            Bark allows you to send your dog's bark to all the other people with Bark near you. If they hear you, they can bark back. Who knows? Your bark may travel to the ends of the earth.
                            </p>
                            <br>
                            <br>

                            <a href="#"><%= image_tag 'modal_appstore.png', class: 'img-centered' %></a>
                            <p>(Available in May)</p>
                        </div>
                    </div>
                </div>
            </div>
          <div class="row modal-section modal-1-1">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <p class="modal-section-heading">Onboarding</p>
                  <%= image_tag 'modal1-2.png', class: 'img-centered' %>
                  <%= image_tag 'modal1-3.png', class: 'img-centered' %>
              </div>
          </div>
          <div class="row modal-section modal-1-2">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <p class="modal-section-heading">Main Screen</p>
                  <%= image_tag 'modal1-4.png', class: 'img-centered' %>
                  <%= image_tag 'modal1-5.png', class: 'img-centered' %>
              </div>
          </div>
          <div class="row modal-section modal-1-3">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <p class="modal-section-heading">Profile View</p>
                  <%= image_tag 'modal1-6.png', class: 'img-centered' %>
                  <%= image_tag 'modal1-7.png', class: 'img-centered' %>
              </div>
          </div>

          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <p>
                              <strong>Roles: </strong>Product planning, UX design, appscreen design, marketing plannning.
                          </p>
                          <button type="button" class="btn btn-default btn-lg btn-modal-close" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>


    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <%= image_tag 'modal2_logo.png', class: 'img-centered' %>
                            <h2>No Matter Where You Are,<br>It’s a Lobby to Talk</h2>
                            <p class="item-intro text-muted">Lobby for Kakao, a location based chatting application<br>Sep 2015 - Feb 2016</p>
                            <%= image_tag 'modal2-1.png', class: 'img-centered' %>

                            <p>Lobby is an application designed for Kakaotalk messenger that makes it possible for users to search Kakaotalk chat rooms nearby and to communicate with other users without any sign-up process. If our users have already been using the Kakaotalk application, they are able to interact with other Kakaotalk users who are located nearby without any general processes such as signing-up for a new account or friend’s request.
                            <br>
                            <br>
                            Lobby delivers two major features to our users by utilizing public URLs that are nested in individual Kakaotalk chat rooms. First, our users can register a public chatting room on Lobby so that other Kakaotalk users can find it, and join in the conversation. Second, our users can search a variety of registered chatting rooms based on their locations, so they can interact with other Kakaotalk users nearby.
                            <br>
                            <br>
                            The intention of this app was to work with KakaoTalk and other major chatting apps such as WeChat and Facebook Messenger. However, this trial was rejected by Apple because of its internal policies.
                            </p>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
          <div class="row modal-section modal-2-1">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <p class="modal-section-heading">Onboarding</p>
                  <%= image_tag 'modal2-2.png', class: 'img-centered' %>
                  <%= image_tag 'modal2-3.png', class: 'img-centered' %>
              </div>
          </div>
          <div class="row modal-section modal-2-2">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <p class="modal-section-heading">Main Screen</p>
                  <%= image_tag 'modal2-4.png', class: 'img-centered' %>
                  <%= image_tag 'modal2-5.png', class: 'img-centered' %>
              </div>
          </div>
          <div class="row modal-section modal-2-3">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <p class="modal-section-heading">Connecting to KakaoTalk</p>
                  <%= image_tag 'modal2-6.png', class: 'img-centered' %>
                  <%= image_tag 'modal2-7.png', class: 'img-centered' %>
              </div>
          </div>

          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <p>
                              <strong>Roles: </strong>Product planning, UX design, appscreen design, marketing plannning.
                          </p>
                          <button type="button" class="btn btn-default btn-lg btn-modal-close" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <%= image_tag 'modal3_logo.png', class: 'img-centered' %>
                            <h2>Maximized<br> Private and Shared Life</h2>
                            <p class="item-intro text-muted">601 Community Branding and Website Project<br>Sep 2015 - Feb 2016</p>
                            <%= image_tag 'modal3-img.png', class: 'img-centered' %>

                            <p>601 is a community where people who love a shared lifestyle gather together. It was initiated from 601 Guesthouse in Busan. This project was to make an umbrella brand to represent 601’s current and future services, such as, membership service, guesthouse, and sharehouse businesses.
                            <br>
                            <br>
                            The scope is to design brand structure, service features, value propositions, and website for membership, guesthouse, and sharehouse.
                            </p>
                            <br>
                            <br>

                            <a href="http://home601.com/" target="_blank"><%= image_tag 'modal3_website.png', class: 'img-centered' %></a>
                        </div>
                    </div>
                </div>
            </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <p>
                              <strong>Roles: </strong>Brand planning/design, website design.
                          </p>
                          <button type="button" class="btn btn-default btn-lg btn-modal-close" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <%= image_tag 'modal4_logo.png', class: 'img-centered' %>
                            <h2>Real Local, Real Experiences</h2>
                            <p class="item-intro text-muted">Person-to-person travel contents sharing marketplace project<br>Mar 2015 - Sep 2015</p>
                            <%= image_tag 'modal4-img.png', class: 'img-centered' %>

                            <p>LocalKnowledgist is an innovative platform making travel experiences more creative and local knowledge-centric.  We all have different angles and areas of interest when visiting a country, but 'Things to do' tours treat us like shoppers who pick up pre-packaged, mass produced products on a shelf. LocalKnowledgist is a community where travel explorers can connect with local artists, photographers, or knowlegists who can share their areas of expertise around the world.  When your travel involves them, you will have the power to see the world differently.
                            <br>
                            <br>
                            We believe that travel experiences can be more inspired when they involve artists, designers, photographers, chefs, craft-makers, or anyone who can share their creativity and expertise with travelers.  We call them 'Local Knowlegists.' Our mission is to make travelling the world more accessible with local knowledgists.
                            </p>
                            <br>
                            <br>

                            <a href="http://www.localknowledgist.com/" target="_blank"><%= image_tag 'modal4_website.png', class: 'img-centered' %></a>
                        </div>
                    </div>
                </div>
            </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <p>
                              <strong>Roles: </strong>Founded/created a team, product design, website design/coding, product launching/operation.
                          </p>
                          <button type="button" class="btn btn-default btn-lg btn-modal-close" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <%= image_tag 'modal5_logo.png', class: 'img-centered' %>
                            <h2>Special for Ordinary</h2>
                            <p class="item-intro text-muted">Platz Coffee, a specialty coffee branding project<br>Oct 2015 - Dec 2015</p>
                            <%= image_tag 'modal5-img.png', class: 'img-centered' %>

                            <p>Platz Coffee is a specialty coffee brand targeting entry-level specialty coffee consumers. This project covered the design of brand structure, logo package, product pictures, and the website.
                            </p>
                            <br>
                            <br>

                            <a href="http://platz.herokuapp.com/" target="_blank"><%= image_tag 'modal5_website.png', class: 'img-centered' %></a>
                        </div>
                    </div>
                </div>
            </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <p>
                              <strong>Roles: </strong>Brand design, website design/coding, photography.
                          </p>
                          <button type="button" class="btn btn-default btn-lg btn-modal-close" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <%= image_tag 'modal6_logo.png', class: 'img-centered' %>
                            <h2>Playshot,<br>Creative Photography Community</h2>
                            <p class="item-intro text-muted">DSLR Photography Campaign Project<br>Mar 2014 - Feb 2015</p>
                            <%= image_tag 'modal6-img.png', class: 'img-centered' %>

                            <p>It's an innovative photography competition with four unique items encouraging participants to capture and share their own perspective. This high budget, nationwide campaign ran from Sep to Dec 2014 with the aim of changing the face of photography.
                            <br>
                            <br>
                            This project encompasses the four pillars: 1) creative competition with four missions: bubble, powder, mini me, bokeh. 2) Playshot cube in which the participants can gain the mission items. 3) Playshot website where people can upload their creative images. 4) Playshot exhibition displayed all 8,000 images as an integrated art work.
                            </p>
                            <br>
                            <br>

                            <a href="http://playshot2014.com/" target="_blank"><%= image_tag 'modal6_website.png', class: 'img-centered' %></a>
                        </div>
                    </div>
                </div>
            </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <p>
                              <strong>Roles: </strong>Initiated project, budgeted, planned the overall concept, design, and marketing tactics.
                          </p>
                          <button type="button" class="btn btn-default btn-lg btn-modal-close" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>



